#postit {
    position: relative;
    text-align: center;
}

#postit-text-box {
  position: absolute;
  bottom: 100px;
  left: 0px;
  width: 100%;
}

#postit-text {
    width: 100%;
}

#my-canvas {
    
}

#postit-text {
    font-weight: bold;
    font-size: 1.25em;
}